<%- include("partials/header") -%>
<section id="sellform">
  <form class="container-fluid" action="/add" method="post">
    <h3>Fill the details: </h3>
    <div class="form-group x">
      <input class="form-control" type="text" name="bookname" placeholder="Bookname">
      <input class="form-control" type="text" name="sellp" placeholder="Price">
      <input class="form-control" type="text" name="name" placeholder="OwnerName">
      <textarea class="form-control" name="bookdetails" rows="5" cols="30">Book Details</textarea>
      <textarea class="form-control" name="contact" rows="5" cols="30">Contact Details</textarea>
      <button class="btn btn-dark" type="submit" name="button">Add</button>
    </div>

  </form>
</section>

</body>
</html>
