<%- include("partials/header") -%>
<section id="info" class="container-fluid">

    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="partials/M_Kumar.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Physics</h5>
          <p class="card-text">1. M.Kumar <br> 2. D.J. Griffith <br></p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Computer Programming</h5>
          <p class="card-text">1. Let us C <br> 2. C in Depth<br> </p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Chemistry</h5>
          <p class="card-text">1. Jain & Jain <br> and refer notes and previous year papers.</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Engineering Mechanics</h5>
          <p class="card-text">1. Merriam & Kraig <br> 2. R.C. Hibbler </p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mathematics</h5>
          <p class="card-text">1. Jain and Iyengar <br>  2. B.S. Grewal <br> 3. Erwin Kregszig </p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Workshop</h5>
          <p class="card-text">1. Raghuvanshi <br> 2. Khurmi & Gupta </p>
        </div>
      </div>
    </div>

</section>

</body>

</html>
