*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;
    font-family: "Trebuchet MS", Helveticca,sans-serif;
}
.container{
    width: 96;
    margin: 20px auto;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border-left: px solid #1abc9c;
    margin: 10px;
}
.book{
    width: 48%;
    float: left;
    background: #fff;
    margin: 5px;
    padding: 100px;
}
.icon{
    width: 15%;
    float: left;
    line-height: 120px;
}
button{
    background: #1abc9c;
    border-radius: 7px;
    padding: 6px 6px;
    color: #fff;
    float: right;
    cursor: pointer;
}
